<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>GenSearchServletPre</servlet-name>
        <servlet-class>org.mypackage.nationalpark.GenSearchServletPre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VCServletPre</servlet-name>
        <servlet-class>org.mypackage.nationalpark.VCServletPre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CEServletPre</servlet-name>
        <servlet-class>org.mypackage.nationalpark.CEServletPre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EdServletPre</servlet-name>
        <servlet-class>org.mypackage.nationalpark.EdServletPre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MapServlet</servlet-name>
        <servlet-class>org.mypackage.nationalpark.MapServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GalleryServletPre</servlet-name>
        <servlet-class>org.mypackage.nationalpark.GalleryServletPre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenSearchServletPost</servlet-name>
        <servlet-class>org.mypackage.nationalpark.GenSearchServletPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VCServletPost</servlet-name>
        <servlet-class>org.mypackage.nationalpark.VCServletPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CEServletPost</servlet-name>
        <servlet-class>org.mypackage.nationalpark.CEServletPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EdServletPost</servlet-name>
        <servlet-class>org.mypackage.nationalpark.EdServletPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GalleryServletPost</servlet-name>
        <servlet-class>org.mypackage.nationalpark.GalleryServletPost</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GenSearchServletPre</servlet-name>
        <url-pattern>/GenSearchServletPre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VCServletPre</servlet-name>
        <url-pattern>/VCServletPre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CEServletPre</servlet-name>
        <url-pattern>/CEServletPre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EdServletPre</servlet-name>
        <url-pattern>/EdServletPre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MapServlet</servlet-name>
        <url-pattern>/MapServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GalleryServletPre</servlet-name>
        <url-pattern>/GalleryServletPre</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenSearchServletPost</servlet-name>
        <url-pattern>/GenSearchServletPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VCServletPost</servlet-name>
        <url-pattern>/VCServletPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CEServletPost</servlet-name>
        <url-pattern>/CEServletPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EdServletPost</servlet-name>
        <url-pattern>/EdServletPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GalleryServletPost</servlet-name>
        <url-pattern>/GalleryServletPost</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
